<table class="table">
  <%= link_to("ToDo登録", "/home/new") %>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">進捗状況</th>
      <th scope="col">ToDo</th>
      <th scope="col">備考</th>
      <th scope="col">優先順位</th>
      <th scope="col">コンテキスト</th>
      <th scope="col">開始日</th>
      <th scope="col">終了日</th>
      <th scope="col">工数見積</th>
      <th scope="col">工数実績</th>
      <th scope="col">進捗見積</th>
      <th scope="col">進捗実績</th>
      <th scope="col">進捗率</th>
      <th scope="col"></th>
  </thead>
  <tbody>
    <% @task_lists.each do |task_list| %>
      <tr>
        <%= form_with url: home_path(task_list), model: task_list do |form| %>
          <th scope="row"><%= task_list.id %></th>
          <td><%= task_list.status_i18n %></td>
          <td>
            <%= form.text_field :todo, class: "form-control todo-edit"%>
          </td>
          <td><%= task_list.memo %></td>
          <td><%= task_list.priority %></td>
          <td><%= task_list.context_i18n %></td>
          <td><%= task_list.start %></td>
          <td><%= task_list.end %></td>
          <td><%= task_list.budget_h %></td>
          <td><%= task_list.result_h %></td>
          <td><%= task_list.budget_p %></td>
          <td><%= task_list.result_p %></td>
          <td><%= task_list.progress %>%</td>
          <td>
            <%= form.submit "保存", :class => "btn btn-info todo-edit" %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
    </table>    