<div class="div">
  <%= link_to("ToDo登録", "/home/new") %>
  <div>
    <div class="task-row">
      <div class="task-col">進捗状況</div>
      <div class="task-col2">ToDo</div>
      <div class="task-col2">備考</div>
      <div class="task-col">優先順位</div>
      <div class="task-col2">コンテキスト</div>
      <div class="task-col2">開始日</div>
      <div class="task-col2">終了日</div>
      <div class="task-col">工数見積</div>
      <div class="task-col">工数実績</div>
      <div class="task-col">進捗見積</div>
      <div class="task-col">進捗実績</div>
      <div class="task-col"></div>
  </div>
  <div class="cb"></div>
  <hr style="padding: 0; margin: 0">
  <% @task_lists.each do |task| %>
    <div class="task-row">
      <div class="task-col"><%= task.status_i18n %></div>
      <div class="task-col2"><%= task.todo %></div>
      <div class="task-col2"><%= task.memo %></div>
      <div class="task-col"><%= task.priority %></div>
      <div class="task-col2"><%= task.context_i18n %></div>
      <div class="task-col2"><%= task.start %></div>
      <div class="task-col2"><%= task.end %></div>
      <div class="task-col"><%= task.budget_h %></div>
      <div class="task-col"><%= task.result_h %></div>
      <div class="task-col"><%= task.budget_p %></div>
      <div class="task-col"><%= task.result_p %></div>
      <div>
        <%= link_to '削除', home_path(task), medivod: :delete, data: { confirm: '本当に削除しますか？' } %>
      </div>
    </div>
    <div class="cb"></div>
  <% end %>
</div>    